heading {
    color: #fff;
    font-family: iA Writer Quattro V;
    font-size: x-large
}

bio {
    color: #fff;
    font-family: iA Writer Quattro V;
    font-size: medium
    height: 200px;
    overflow: scroll;
}


